<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3ffec">  <td>19/02/16 11:04:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethod.login()[pri:0, instance:bl.framework.testcases.EditLead@1846619]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@19244014</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>19/02/16 11:04:15</td>   <td>11694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLead.EL()[pri:0, instance:bl.framework.testcases.EditLead@1846619]">EL</td> 
  <td>main@19244014</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>19/02/16 11:04:40</td>   <td>36645</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethod.closeApp()[pri:0, instance:bl.framework.testcases.EditLead@1846619]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@19244014</td>   <td></td> </tr>
</table>
