<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e88b9c">  <td>19/02/19 21:11:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.CreateLead@1928643]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@26675555</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>19/02/19 21:11:28</td>   <td>10290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.CL(java.lang.Object, java.lang.Object, java.lang.Object)[pri:0, instance:bl.framework.testcases.CreateLead@1928643]">CL</td> 
  <td>main@26675555</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>19/02/19 21:11:37</td>   <td>19502</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethod.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:bl.framework.testcases.CreateLead@1928643]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@26675555</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>19/02/19 21:11:47</td>   <td>29197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.CL(java.lang.Object, java.lang.Object, java.lang.Object)[pri:0, instance:bl.framework.testcases.CreateLead@1928643]">CL</td> 
  <td>main@26675555</td>   <td></td> </tr>
</table>
